{% extends 'base.html' %}

{% block page_title %}Recipe Details{% endblock %}

{% block content %}
<h2>{{ recipe.name }}</h2>
<p>Author: {{ recipe.author.name }}</p>
<h3>Ingredients:</h3>
<ul>
    {% for ingredient in recipe.ingredients.all %}
    <li>{{ ingredient.ingredient.name }} - {{ ingredient.quantity }}</li>
    {% endfor %}
</ul>
<h3>Images:</h3>
{% for image in recipe.images.all %}
    <img src="{{ image.image.url }}" alt="{{ image.description }}">
    <p>{{ image.description }}</p>
{% endfor %}
{% if user.is_authenticated %}
<a href="{% url 'ledger:recipe-add-image' recipe.pk %}">Add Image</a>
{% endif %}
<a href="{% url 'ledger:recipe-list' %}">Back to Recipe List</a>
{% endblock %}
